@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

$scroll: url('https://cdn.hipwallpaper.com/i/28/62/HXybm2.jpg');
$fancy_title: url('https://img1.pnghut.com/11/9/11/t65FTT8Ax3/brown-picture-frame-texture-text-paper.jpg');

.about-us {
    font-size: 1.5rem;
}

#all-sessions-title {
  background-image: $fancy_title;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  font-family: 'MedievalSharp', cursive;
  object-fit: fill;
  font-size: 25px;
  margin-bottom: 10px;
}

body {
  font-family: 'MedievalSharp', cursive;
  overflow: scroll;
}

.campaign {
  font-size: 25px;
  padding: 0;
  color: inherit;
}

.carousel-item {
  border-radius: 15px;
  align-items: center;
  max-width: 75%;
  max-height: 75%;
}

.carousel-item .active{
  border-radius: 15px;
  align-items: center;
}


.carousel {
  margin: 30px 30px 30px 30px;
}

#clicked-session {
  background-image: $scroll;
  background-size: auto;
}

#clicked-campaign {
  font-family: 'MedievalSharp', cursive;
  color: #2a150d;
  background-size: cover;
  border-radius: 15px;
}

.col-md-8 {
  border-radius: 15px;
}

#description {}

#dice-img {
  width: 70px;
  height: 70px;
}

.each-session {
  background-image: $scroll;
  margin-bottom: 10px;
  object-fit: cover;
  background-size: cover;
  border-radius: 15px;
}

.failure {
  font-size: 2rem;
  color: red;
}

#home-link {
  height: 56.25px;
  width: 56.25px;
}

h1 {
  margin: 0;
}

img {
  width: 700px;
  height: 500px;
  border-radius: 15px;
  object-fit: cover;
}

input {
  width: 500px;
  margin: 5px 0px 15px 0px;
    word-wrap: break-word;
    word-break: break-all;
}

#message{
  text-align: center;
  margin: 50px 50px 50px 50px;

}

#nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  position: relative;
  top: 50%;
}

.no-user {
  align-items: center;
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  flex-direction: column-reverse;
}

#page-title {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}


#session-text {
  height: 500px;
  width: 500px;

}


.session {
  color: black;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  text-align: left;
}

.success {
  align-items: flex-start;
  font-size: 1rem;
}

.title {
  font-size: 2rem;
}

  .user-signed-in {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    font-family: 'Shippori Mincho B1', serif;
    justify-content: center;
    align-content: center;
  }

  #welcome {
    font-family: 'MedievalSharp', cursive;
    font-size: 2rem;
    margin: 50px;
  }


  @media only screen and (max-width: 769px) {
     #page-title{
        width: 100%;
     }
  }
