@import '~bootstrap/scss/bootstrap';


#home-link{
  color: black;
  text-decoration: none;

}

#create-campaign{
  width: auto;
  height: auto;
}

#description{

}



#nav-bar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  top: 50%;
}
