@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

body{
  font-family: 'MedievalSharp', cursive;
}

.user-signed-in{
font-family: 'Shippori Mincho B1', serif;
}

#home-link{
  color: black;
  text-decoration: none;

}

#dice{
  width: 6%;
  height: 6%;
}

#create-campaign{

}

input{
  width: 500px;
}

#session-text{
  height: 500px;
  width: 500px;
}

.carousel-item .active {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  align-items: center;
  margin: auto;
}

.carousel-control-prev .carousel-control-next {
  width: 600px;
  height: 500px;
}

.carousel{
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

#description{

}

.success{
  font-size: 1rem;
}



#nav-bar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  top: 50%;
}
